@import url('https://fonts.googleapis.com/css2?family=Anton&display=swap');
@font-face {
    font-family: 'SBAggroB';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2108@1.1/SBAggroB.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'GongGothicMedium';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-10@1.0/GongGothicMedium.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
.isamanroo-font{
    font-family: 'GongGothicMedium',sans-serif;
}
.anton-font{
    font-family: 'Anton',sans-serif;
}
.sb-font{
    font-family:'SBAggroB',sans-serif;
}
body{
    background-color: black;
    color : #287e3a;
}
.display-container{
    max-width: 415px;
    margin-left: auto;
    margin-right: auto;
    min-height: 100vh;
    overflow:hidden;
    background-color: #FEF5E8;
}
.boothmain{
    position: relative;
    min-height : 100vh;
    padding-top: 50px;
    z-index: 0;
}
.island-title{
    font-size : 30px;
    font-weight: 900;
    color: transparent;
    -webkit-text-stroke: 1px #287e3a;
    margin-bottom: -30px;
}
.poolus-title{
    font-size: 100px;
    color:#287e3a;
  }
  #boothsearch{
    background:none;
    border : 0;
  }
  .search{
    border: 2px solid #287e3a;
    width : 220px;
    margin-left: auto;
    margin-right: auto;
    margin-top:10px;
  }
